@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

#main-container {
  display: grid;
  grid-template: 50px 1fr /100px 1fr;
  grid-template-areas:
    "header header"
    "navbar content";
  height: 100svh;
}

#profil {
  border: 4px solid #efae2e;
  animation: 15s blop infinite linear;
}

@keyframes blop {
  0%,
  100% {
    border-radius: 59% 41% 31% 69% / 51% 48% 52% 49%;
  }
  50% {
    border-radius: 51% 49% 53% 47% / 42% 61% 39% 58%;
  }
}

#skill {
  display: grid;
  grid-template: 50px 1fr/ 250px 1fr;
  grid-template-areas:
    "title title"
    "tackstack library";
  position: relative;
  z-index: 1;
}

#title {
  grid-area: title;
}

.skill::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: -11%;
  z-index: 3;
  background-color: #efae2e;
  border-bottom-right-radius: 18px;
}

ul > li {
  list-style-type: circle;
}

#tackstack {
  grid-area: tackstack;
  box-sizing: border-box;
  position: relative;
}
#library {
  grid-area: library;
}

#header {
  grid-area: header;
  box-sizing: border-box;
}
#navbar {
  grid-area: navbar;
  height: calc(100% - 50px);
}
#content {
  grid-area: content;
}

hr {
  border-bottom: 2px solid #979689;
}

#sapaan {
  letter-spacing: 0.2rem;
}

#navbar > div > ul > li {
  writing-mode: vertical-lr;
  font-family: "Oswald", sans-serif;
}

/* #img {
  position: relative;
  z-index: 1;
}

#img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% 50% -50%);
  background-image: linear-gradient(
    to left top,
    #dadada,
    #ffd1ed,
    #ffc4c5,
    #ffd175,
    #e5f637
  );
  width: 50%;
  height: 100%;
  z-index: 0;
  border-radius: 50%;
} */

#name {
  letter-spacing: 0.2rem;
}

input,
textarea {
  background: transparent;
  border-bottom: 1px solid black;
  padding: 0.8rem 0.5rem;
}

form > div > div,
textarea {
  display: flex;
  flex-direction: column;
  font-size: 400;
}
form {
  display: grid;
  grid-template: 100px 1fr / 1fr;
  grid-template-areas:
    "row-1 row-1"
    "row-2 row-2";
  font-weight: 600;
}

label {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
}

#name-email {
  grid-area: row-1;
}

#pesan {
  grid-area: row-2;
}

textarea:focus,
input:focus {
  outline: none;
  background: none;
}

#main-container > svg,
#skill > svg,
#portofolio > svg,
#contact > svg {
  width: 500px;
  height: 500px;
  opacity: 0.7;
}
#main-container,
#skill,
#portofolio,
#contact {
  position: relative;
}

#slide div {
  display: inline-block;
  animation: 6s slide infinite linear;
}

#slide div span {
  margin: 0 0.5rem;
  background-color: #efae2e;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
